<li>
	{{name}}

	<button class="change-eaten" data-id="{{id}}" data-neweaten="{{eaten}}">
		{{#if eaten}}Eat!{{else}}order again!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{id}}">
		Delete!!
	</button>
</li>